* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
}
@page {
  width: landscape;
  height: landscape;
  margin: 0;
}
@font-face {
  font-family: 'open-sans';
  src: url("../font/open-sans/opensans-Regular.ttf");
}
@font-face {
  font-family: 'open-sans-bolder';
  src: url("../font/open-sans/opensans-Bold.ttf");
}
article {
  -webkit-transition: background 0.6s ease;
  -moz-transition: background 0.6s ease;
  -o-transition: background 0.6s ease;
  -ms-transition: background 0.6s ease;
  transition: background 0.6s ease;
  display: none;
}
article.bespoke-parent {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
}
@media print {
  article.bespoke-parent {
    overflow: visible;
    position: static;
  }
}
.bespoke-slide {
  -webkit-transition: -webkit-transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  -o-transition: -o-transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  -ms-transition: -ms-transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  -webkit-transform-origin: 50% 50% 0;
  -moz-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 640px;
  height: 480px;
  position: absolute;
  top: 50%;
  margin-top: -240px;
  left: 50%;
  margin-left: -320px;
  background: #c2ffe0;
  padding: 40px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
@media print {
  .bespoke-slide {
    zoom: 1 !important;
    height: 743px;
    width: 100%;
    page-break-before: always;
    position: static;
    margin: 0;
  }
}
.bespoke-before {
  -webkit-transform: translateX(100px) translateX(-320px) rotateY(-90deg) translateX(-320px);
  -moz-transform: translateX(100px) translateX(-320px) rotateY(-90deg) translateX(-320px);
  -o-transform: translateX(100px) translateX(-320px) rotateY(-90deg) translateX(-320px);
  -ms-transform: translateX(100px) translateX(-320px) rotateY(-90deg) translateX(-320px);
  transform: translateX(100px) translateX(-320px) rotateY(-90deg) translateX(-320px);
}
.bespoke-after {
  -webkit-transform: translateX(-100px) translateX(320px) rotateY(90deg) translateX(320px);
  -moz-transform: translateX(-100px) translateX(320px) rotateY(90deg) translateX(320px);
  -o-transform: translateX(-100px) translateX(320px) rotateY(90deg) translateX(320px);
  -ms-transform: translateX(-100px) translateX(320px) rotateY(90deg) translateX(320px);
  transform: translateX(-100px) translateX(320px) rotateY(90deg) translateX(320px);
}
@media print {
  .bespoke-after {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.bespoke-inactive {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  pointer-events: none;
}
@media print {
  .bespoke-inactive {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.bespoke-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.bespoke-scale-parent {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media print {
  .bespoke-scale-parent {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
  }
}
.bespoke-progress-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
}
@media only screen and (min-width: 1366px) {
  .bespoke-progress-parent {
    height: 4px;
  }
}
@media print {
  .bespoke-progress-parent {
    display: none;
  }
}
.bespoke-progress-bar {
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  transition: width 0.6s ease;
  position: absolute;
  height: 100%;
  background: #0089f3;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.emphatic,
.emphatic .bespoke-slide {
  background: #c2ffe0;
}
pre {
  padding: 26px !important;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
body {
  font-family: 'open-sans', sans-serif;
  font-size: 18px;
  color: #404040;
}
h1 {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -2px;
  margin-bottom: 16px;
}
h2 {
  font-size: 42px;
  letter-spacing: -1px;
  margin-bottom: 8px;
}
h3 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 24px;
  color: #606060;
}
hr {
  visibility: hidden;
  height: 20px;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 12px;
}
p {
  margin: 0 100px 12px;
  line-height: 22px;
}
a {
  color: #0089f3;
  text-decoration: none;
}
strong {
  font-family: 'open-sans-bolder';
  font-size: 1.3em;
}
em {
  font-size: 1.3em;
}
blockquote {
  font-size: 1.5em;
}
.hide {
  display: none !important;
}
.short {
  height: 130px;
}
.intro {
  margin-top: 150px;
}
.centered {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
.saysomething {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 20px;
  color: #c2ffe0;
  background-color: #008000;
  font-size: 24px;
  cursor: pointer;
  width: 250px;
  margin-top: 60px;
}
.fit-width {
  width: 640px;
}
.bouvet {
  float: right;
  background-image: url("../img/bouvet.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  width: 280px;
  height: 120px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.twitter {
  float: left;
  background-image: url("../img/twitter.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding-left: 80px;
  height: 70px;
  text-align: left;
  line-height: 70px;
  width: 280px;
  font-size: 32px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#smbc {
  width: 600px;
  height: 680px;
  padding: 0;
  overflow: hidden;
}
.market-actions {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
}
.progressive-enhancement {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
}
.progressive-enhancement div {
  border-right: solid 8px #808080;
  border-bottom: solid 8px #808080;
  width: 150px;
  height: 150px;
  margin: 30px;
  background-color: #fff;
}
.progressive-enhancement .better {
  border-bottom-right-radius: 16px;
}
.progressive-enhancement .best {
  border-right: solid 2px #808080;
  border-bottom: solid 2px #808080;
  -webkit-box-shadow: 15px 15px 8px #1e1e1e;
  box-shadow: 15px 15px 8px #1e1e1e;
  border-bottom-right-radius: 16px;
}
.market-item {
  padding: 20px;
  margin: 20px;
  border: 1px solid #000;
  background-color: #fff;
}
.marketplace {
  background-color: #00ced1;
}
.optiworld {
  background-color: #00c800;
  padding: 20px;
}
.optiworld canvas {
  position: relative;
  top: -240px;
  height: 240px;
  border: 1px solid #008000;
}
.web-actions span {
  display: block;
  font-size: 23px;
  font-family: 'open-sans-bolder';
  position: relative;
}
.friendly {
  zoom: 0.5;
  width: 600px;
  border: 1px solid #f00;
  color: #6cf;
}
.gesture-canvas {
  height: 500px;
  width: 500px;
  border: solid 1px #00ced1;
}
.glasses-vid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 320px;
  float: left;
  margin-right: 20px;
  text-align: center;
}
.glasses-vid .tryme {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 10px;
  color: #c2ffe0;
  background-color: #008000;
  font-size: 18px;
  cursor: pointer;
  width: 240px;
  margin-top: 10px;
  position: relative;
  top: -240px;
}
.glasses {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 160px;
  float: right;
  height: 300px;
}
.glasses img {
  margin-bottom: 20px;
}
.listen-item {
  height: 270px;
}
